.App-header {
	background-color: lightgrey;
	height: 150px;
	font-size: calc(10px + 2vmin);
	color: black;
  }

  .App-logo {
	height: 10vmin;
	pointer-events: none;
  }

  .App-menu {
	background-color: darken($color: darkblue, $amount: 20);
 }